* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f8f9fa;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
}
th {
    border: 1px solid black;
    padding: .24rem;
}
td {
    border: 1px solid black;
    padding: 1rem;
}

.menu {
    margin-top: 40px;
    flex-direction: column;
    display: flex;
}

.menu a {
    display: inline-block;
    margin: 10px;
    padding: 12px 25px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.2s;
}

.menu a:hover {
    background-color: #0056b3;
}
.full-container {
    padding-left: 2rem;
}
